<p style="color: green"><%= notice %></p>

<h1>Jobs</h1>

<div class="d-flex mb-5 ml-8">
<%= turbo_frame_tag "jobs", class: "min-w-full" do %>
  <%= render @jobs %>
<% end %>



  <%= form_with(url: jobs_path, method: :get, class: "mt-0",  data: {controller: "filter"}) do %>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col justify-end mt-2">
        <%= label_tag :category, 'Category' %>
        <%= select_tag :category, options_for_select(["Engineering", "Marketing", "Design", "Sales", "Customer Service" ]), selected: params[:category], include_blank: true,
        class: 'rounded-lg border-gray-300 mt-2',
        data: {action: "change->filter#submit"}%>
      </div>
       <div class="flex flex-col justify-end mt-2">
        <%= label_tag :location, 'Location' %>
        <%= select_tag :location,
              options_for_select(['New York', 'San Francisco', 'Berlin', 'Tokyo', 'London', 'Paris', 'Sydney', 'Toronto', 'Singapore', 'Remote'],
              selected: params[:location]),
              include_blank: true,
              class: 'rounded-lg border-gray-300 mt-2',
              data: {action: "change->filter#submit"} %>
      </div>
      <div class="flex items-center justify-start">
        <%= check_box_tag :remote, '1',
              params[:remote].present?, class: 'mr-2', data: {action: "change->filter#submit"} %>
        <%= label_tag :remote, 'Remote' %>
      </div>
      <% Job.commitments.keys.each do |commitment| %>
        <div class="flex items-center justify-start">
          <%= check_box_tag "commitments[]", commitment,
                params[:commitments]&.include?(commitment),
                id: "commitment_#{commitment}",
                class: 'mr-2', data: {action: "change->filter#submit"} %>
          <%= label_tag "commitment_#{commitment}", commitment.humanize %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to "New job", new_job_path %>